---
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Force a redirect to SSL -->
    <script src="/assets/scripts/force_ssl.js"></script>
    <meta charset="UTF-8">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/excerpt.css" media="screen">
  </head>
  <body>
  <!-- header -->
  {% include header.html %}
  <section class="main-content">
    <!-- content -->
    {{ content }}
    <!-- related posts if applicable -->
    {% include related.html %}
    <!-- footer -->  
    {% include footer.html %}
  </section>
  </body>
</html>